*{
    margin:0;
    padding:0;
}
.finance-banner{
    width:100%;
}
.form-wrapper{
    margin:auto;
    width:70%;
    background-color: black;
}
.quote-form{
    width:50%;
    padding-top:20px;
    
}
.form-input{
    width:100%;
    border-radius: 10px;
    margin-bottom:20px;
    color:black;
}
#get-quote-btn{
    width:20%;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom: 20px;
    background-color:green;
    border:none;
    border-radius:20px;
}
#get-quote-btn:hover{
    border:solid red;
}