*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    padding:0;
    background-color:red;
}
video{
    width: 100%;
    margin:0;
    background-color:black;
}
/*Header CSS Starts from here*/
header{
    display:grid;
    grid-template-rows: 80px 20px;
    grid-template-columns: 100px 1fr;
}

nav{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end:3;
    display: grid;
    grid-template-columns: 100px 1fr;
    background-color:black;
}
.website-logo{
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end:2;
}
.nav-tabs{
    margin:0;
    grid-column-start:2;
    grid-column-end:3;
    margin-top:auto;
    margin-bottom:auto;
}
.nav-tabs li{
    display: inline;
    vertical-align: middle;
    margin:0;
}
.nav-tabs li a{
    text-decoration: none;
    color:white;
    margin:0px 15px 0px 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.5rem;
    transition:all 0.10s ease;
}
.nav-tabs li a:hover{
    color:goldenrod;
    font-size:1.7rem;
}
.color-filler{
    background-color:red;
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start:1;
    grid-column-end:3;
}
/*Header CSS Ends here*/

/*Main-Container CSS Starts from here*/

.main-container{
    margin:0;
    width:100%;
}
.search-container{
    width:98%;
    margin-right:auto;
    margin-left:auto;
    height:80px;
    background-color:black;
    color:white;
    border-radius:20px;
}
form{
    display:grid;
    grid-template-rows:1fr 5fr 1fr;
    grid-template-columns:0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 1fr; 
    grid-template-areas:
        "no no no no no no no"
        "ya ya ya ya ya ya ya"
        "no no no no no no no";
}


/*Main-Container CSS Ends here*/