*{
    margin:0;
    padding:0;
}
body{
    background-color:red;
}
header{
    display:grid;
    grid-template-columns:150px 1fr;
    grid-template-rows:100px;
    background-color:black;
}
nav{
    display:table;
    height: 100%;
}

.website-logo{
    height:inherit;
    width:100px;
}
.nav-tags{
    list-style-type: none;
    list-style-position: initial;
    height:100%;
    display:table-cell;
    vertical-align: middle;
}
.nav-tags li{
    display:inline;
}
.nav-tags li a{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:2rem;
    color:white;
    padding:0px 10px 0px 10px;
}
.nav-tags li a:hover{
    color:goldenrod;
}
.video-container{
    width: 100%;
    margin:0;
    text-align: center;
    background-color:black;

}
.video-container video{
    width: 100%;
    border-radius: 20px;
}