<!--Each component is built here for the website as we are using css grid to place them on their respective spts-->
<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="header.css" />
</head>

<body>
    <header>
        <nav>
            <ul class="nav-tabs">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Inventory</a></li>
                <li><a href="#">Sell Vehicle</a></li>
                <li><a href="#">Finace</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <div class="color-filler"></div>
        <img class="website-logo" src="../img/logo/website-logo.png" />
    </header>
</body>

</html>